html {
  direction: rtl;
}
.owl-carousel {
  direction: ltr;
}

.ms-auto {
  margin-left: unset !important;
  margin-right: auto !important;
}
.ms-4 {
  margin-left: unset !important;
  margin-right: 1.5rem !important;
}
.me-2 {
  margin-right: unset !important;
  margin-left: .5rem !important;
}
.me-3 {
  margin-right: unset !important;
  margin-left: 1rem !important;
}
.ps-4 {
  padding-left: unset !important;
  padding-right: 1.5rem !important;
}

.start-0 {
  left: unset !important;
  right: 0 !important;
}

.bi-arrow-left.ar {
  transform: rotate(180deg);
  display: inline-block;
}

.bi-arrow-right {
  transform: rotate(180deg);
  display: inline-block;
}

.dropBox .dropdown-menu li:hover a {
    padding-right: 1.25rem;
    transition: all .3s ease-in-out;
    /* color: var(--primary);
    font-weight: 500; */
}

.form-select {
  background-position: left .75rem center !important;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

@media (max-width: 991px) {
  .dropdown-menu[data-bs-popper] {
    left: -15px !important;
  }
  .ms-4.lang {
  margin-right: unset !important;
  margin-left: 1.5rem !important;
  }
  .px-4.lang {
    padding-right: unset !important;
  }
}

.testimonial-item .d-flex {
  flex-direction: row-reverse;
}
.testimonial-item .d-flex .ps-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
}

.link-animated a:hover {
  padding-left: unset !important;
  padding-right: 10px !important;
}

.toRight::before {
  left: unset !important;
  right: 0 !important;
}

@-webkit-keyframes section-title-run {
  0% {
    right: 0;
  }
  50% {
    right: 130px;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes section-title-run-sm {
  0% {
    right: 0;
  }
  50% {
    right: 85px;
  }
  100% {
    right: 0;
  }
}

.timeline-content {
  text-align: right;
}

#wave {
  transform: translateY(5px) scaleX(-1);
}

@media (min-width: 1299px) {
  .navbar-dark .navbar-nav {
    transform: translateX(-35px);
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .navBtns .inline {
    right: unset;
    left: 125px;
  }
}
/* Time Line responsive */
@media(max-width: 767px){
  .navBtns .inline {
    right: unset;
    left: 80px;
  }
  .carousel-control-next {
    right: 50%;
    transform: translateX(100%);
  }
	.timeline-items::before{
		left: unset;
	}
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even){
    padding-left: 0;
    padding-right: 30px;
  }
	.timeline-item:nth-child(odd){
		padding-left: 0;
		text-align: right;
	}
	.timeline-dot{
		right: -7px;
	}
}

.catLinks a:hover {
  padding-left: unset !important;
  padding-right: 25px !important;
}