@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Recursive:wght@300..1000&display=swap");

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}

/********** Template CSS **********/
:root {
  --primary: #c98015;
  --secondary: #ffc400;
  /* --light: #eff7fa; */
  --light: #fff8ec;
  --lighter: #e6e6e6; 
  --light-gold: #fff8ec;
  --body-color: #fff;
  --dark: #19283f;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --dark: #fff;
  --lighter: #e6e6e6; 
  --light: hsl(0, 0%, 16%);
  --body-color: hsl(0, 0%, 12%);
  --light-gold: hsl(0, 0%, 16%);
}

/*========== Button Dark/Light ==========*/
.change-theme {
  color: var(--title-color);
  font-size: 1.25rem;
  cursor: pointer;
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme 
==========*/
.dark-theme .change-theme,
.dark-theme .nav__toggle,
.dark-theme .nav__shop,
.dark-theme .button--gray {
  color: var(--dark);
}

.dark-theme .scroll-header {
  box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
}

.dark-theme .text-dark {
  color: var(--light) !important;
}
.dark-theme .text-light {
  color: var(--dark) !important;
}

.scroll-header .change-theme,
.scroll-header .nav__toggle,
.scroll-header .nav__shop {
  color: var(--title-color);
}

/* تخصيص الشريط نفسه */
::-webkit-scrollbar {
    width: 10px; /* عرض الـ scrollbar */
}

/* تخصيص الخلفية */
::-webkit-scrollbar-track {
    background: var(--light); /* لون الخلفية */
}

/* تخصيص المقبض (المستطيل اللي بيتحرك) */
::-webkit-scrollbar-thumb {
    background: var(--primary); /* لون المقبض */
    border-radius: 3px; /* تدوير الأطراف */
}

/* عند تمرير الماوس على المقبض */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}


body {
  font-family: "Cairo", sans-serif !important;
  background-color: var(--body-color);
}

.dark-theme #preloader {
  background: var(--body-color) !important;
}

#preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: var(--light);
  z-index: 99999;
}

#preloader .loader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  overflow: hidden !important;
}

#preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 65%;
  width: 50px;
  margin-left: -20px;
  z-index: 18;
  pointer-events: none;
}
@media (max-width:767px) {
  #preloader .loader img {
    width: 250px !important;
  }
  #preloader .loader .ytp-spinner {
    top: 65%;
    margin-left: -20px;
    width: 45px;
  }
}

#preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}

#preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

#preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

#preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

#preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #c98015 #c98015 #dedede4f;
  border-radius: 50%;
  border-width: 6px;
}

#preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #dedede4f;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

#preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #dedede4f;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }

  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }

  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }

  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }

  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }

  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }

  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }

  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }

  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }

  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }

  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }

  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }

  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}

@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }

  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }

  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}

/*** Heading ***/
h1,h2,h3,h4,h5,h6,p,span,small,.form-label {
  color: var(--dark);
}
.dark-theme .bg-white h1,
.dark-theme .bg-white h2,
.dark-theme .bg-white h3,
.dark-theme .bg-white h4,
.dark-theme .bg-white h5,
.dark-theme .bg-white h6,
.dark-theme .bg-white span,
.dark-theme .bg-white  p,
.dark-theme .bg-white small
 {
  color: var(--light);
}
h1,
h2,
.fw-bold {
  font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
  font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
  font-weight: 600 !important;
}

.h5.text-white:hover {
  color: var(--primary) !important;
  transition: color .25s linear;
}

.dark-theme .text-black-50 {
  color: rgba(255,255,255,.5) !important;
}

/*** Button ***/
.btn {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.gold {
  color: var(--primary) !important;
}

.btn-primary,
.btn-secondary {
  color: #ffffff;
  box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
  box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 30px;
  height: 30px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

/*** Navbar ***/
.navbar-dark {
    background-color: var(--light-gold);
    /* background-image: url(../img/shape1.avif) !important;
    background-blend-mode: lighten !important; */
}

.navbar-dark .navbar-nav .nav-link {
  font-family: "Cairo", sans-serif;
  position: relative;
  padding: 20px 0;
  color: var(--dark);
  /* text-align: center; */
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
  /* padding: 20px 0; */
  color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-dark .logo {
  /* position: absolute;
    top: 0;
    height: 100%; */
  width: 180px;
}
.dark-theme .logo,
.dark-theme .flogo {
  filter: invert(1);
}

.flogo {
  height: 100%;
  width: 180px;
}

.navBtns .inline {
    display: flex;
    align-items: center;
    gap: 25px;
    z-index: 999;
}

.dropBox a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--dark);
    font-size: 22px !important;
    transition: color .2s ease-in-out;
}
.dropBox a:hover {
  color: var(--primary);
}
/* .dropBox img {
    width: 25px;
    height: 15px;
} */

/* .dropBox .dropdown-menu li:hover a {
    padding-left: 1.25rem;
    transition: all .3s ease-in-out;
    color: var(--primary);
    font-weight: 500;
} */

@media (max-width: 991px) {
  .navbar-dark .logo {
    position: relative;
    height: 100%;
    width: 150px;
  }
  .flogo {
    width: 150px;
  }
  .navBtns {
    align-items: flex-start !important;
  }

  .navBtns .inline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    /* transform: translateX(-20px); */
    z-index: 999;
  }
  .navBtns .logo,
  .navBtns .ms-4 {
    margin-left: 0 !important;
  }
}

/* .navbar-dark .navbar-brand h1 {
  color: #ffffff;
} */

.navbar-dark .navbar-toggler {
  color: var(--primary) !important;
  /* border-color: var(--primary) !important; */
}
.navbar-dark .navbar-toggler:focus {
  box-shadow: none !important;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-dark {
    position: relative;
    background: var(--light-gold);
  }

  .navbar-dark .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    color: var(--dark);
  }

  .navbar-dark .navbar-brand h1 {
    color: var(--primary);
  }
}

@media (min-width: 1091px) {
  .navbar-dark .navbar-nav {
    gap: 35px;
  }
}
@media (min-width: 992px) {
  .navbar-dark .navbar-nav {
    display: flex;
    gap: 25px;
    /* transform: translateX(35px); */
  }
  .dropBox a {
    padding: 20px 0;
  }
  .navbar-expand-lg .navbar-nav {
    flex-grow: 1;
    justify-content: center;
  }
  .navbar-dark {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    /* border-bottom: 1px solid rgba(256, 256, 256, 0.1); */
    z-index: 999;
    background: var(--light-gold);
  }

  .sticky-top.navbar-dark {
    position: fixed;
    background: var(--light-gold);
  }

  .navbar-dark .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: 0.5s;
  }

  .navbar-dark .navbar-nav .nav-link:hover::before,
  .navbar-dark .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }

  .navbar-dark .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }

  .sticky-top.navbar-dark .navbar-brand h1 {
    color: var(--primary);
  }
  .frow {
    transform: translateY(-50px);
  }
}
@media (min-width: 1299px) {
  .navbar-dark .navbar-nav {
    display: flex;
    gap: 35px;
    transform: translateX(35px);
  }
}


/* Progress */
.progress {
  overflow: auto;
  height: auto;
  flex-direction: column;
  background-color: transparent;
}
/* Progress Steps */
.progress ul.progress-steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3em;
    padding-left: 0;
}
.progress ul.progress-steps li {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2em;
}
.progress ul.progress-steps li > span {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 18px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    border-radius: 50%;
    background-color: var(--light);
    color: var(--dark);
    border: 2px dashed var(--primary);
    z-index: 1;
}

.progress ul.progress-steps li p span {
    font-size: 16px;
    color: var(--dark);
    /* display: none; */
}
.progress ul li p {
    /* position: absolute; */
    top: -2em;
    font-size: 16px;
    max-width: 400px;
    color: var(--primary);
}

@media (min-width: 768px) {
    .progress ul.progress-steps {
        flex-direction: column;
        gap: 0;
    }
    .progress ul.progress-steps li:not(:last-child)::before {
        content: '';
        position: absolute;
        left: 24px;
        top: 30px;
        width: 2px;
        height: 100%;
        background-color: var(--primary);
    }

    .progress ul li p {
        position: relative;
        top: auto;
        font-size: 18px;
    }
    .progress ul.progress-steps li p span {
        display: block;
    }
}

.aboutImgs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.aboutImgs img {
  width: 40%;
  height: 75%;
  border-radius: 15px !important;
  object-fit: cover;
  transition: transform .3s ease-in-out;
}
.aboutImgs img:nth-child(1) {
  transform: translateY(15px);
}
.aboutImgs img:nth-child(2) {
  transform: translateY(-25px);
}

.aboutImgs img:nth-child(1):hover {
  transform: translateY(-5px) rotate(-5deg);
}
.aboutImgs img:nth-child(2):hover {
  transform: translateY(-50px) rotate(5deg);
}

@media (max-width: 767px) {
  .aboutImgs {
    justify-content: space-around;
    gap: 15px;
  }
}
/*** Carousel ***/
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* position: relative;
  background: url(../img/carousel-1.jpg) center center;
  height: 110vh; */
  width: 100%;
  z-index: 1;
}
.carousel-caption::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(9, 30, 62, 0.7);
}

@media (min-width: 767px) and (max-width: 991px) {
  .navBtns .inline {
    position: absolute;
    top: 12px;
    right: 125px;
  }
}
@media (max-width: 767px) {
  .navBtns .inline {
    position: absolute;
    top: 12px;
    right: 80px;
  }
  /* .carousel-caption {
    height: 90vh !important;
  } */
 .carousel-caption h5 {
  margin-bottom: .7em;
 }
}
@media (max-width: 336px) {
  .navBtns .inline {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 28px;
    font-weight: 500 !important;
    margin-bottom: .7em;
  }

  .carousel-caption h1 {
    font-size: 40px;
    font-weight: 700 !important;
    margin-bottom: .7em;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

.navBtns {
    align-items: center;
    gap: 20px;
}

.mainBtn {
  border: 1px solid var(--secondary);
  font-size: 18px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    margin-top: 8px;
  }

  .lang {
    margin-top: 8px;
    margin-left: 1.1rem !important;
  }

  .navBtns {
    flex-direction: column;
    gap: 5px;
  }
}
  .carousel img {
    height: calc(100vh - 67px) !important;
    /* object-fit: cover; */
  }
@media (max-width: 767px) {
  .navbar {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }
  .navbar-collapse {
    margin-top: 10px;
  }
  /* .carousel-item {
    height: 80vh;
  } */
  .carousel-control-next,
  .carousel-control-prev {
    top: unset;
    left: unset;
    bottom: 75px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  .carousel-control-prev {
    right: 45%;
    transform: translateX(-85%);
  }
  .carousel-control-next {
    left: 52%;
    transform: translateX(0);
  }
  .lang {
    margin-top: 8px;
    margin-left: -0.5rem !important;
  }
  .navBtns {
    flex-direction: column;
    gap: 5px;
  }
}

.accordion-item {
  background-color: var(--light);
}
.dark-theme .accordion-item {
  border-color: var(--primary);
}
.accordion-button:not(.collapsed),
.accordion-button {
  background-color: var(--light-gold);
  color: var(--dark);
}
.accordion-body {
  color: var(--dark);
}
.accordion-button:not(.collapsed) {
  color: var(--primary) !important;
}

.accordion-button i {
    transition: transform 0.3s ease;
}

.accordion-button[aria-expanded="true"] i {
    transform: rotate(180deg);
}
.accordion-button::after {
    display: none !important;
}

.cta.second {
  align-items: flex-start;
  padding: 60px 75px;
  background: linear-gradient(to right, #13182c, #18234e, #13182c);
  gap: 15px;
}
.cta.second div {
  display: flex;
  flex-direction: column;
}
.cta.second ul li {
  font-size: 18px;
  line-height: 2;
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.cta.second ul li svg {
  /* margin-right: 10px; */
  color: var(--primary);
  transform: translateY(3px);
}
.cta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 20px;
  border-radius: 25px;
  background: linear-gradient(to right, #c98015, #ec9718), #c98015;
  color: #fff;
  box-shadow:0 1rem 3rem rgba(0,0,0,.175) !important;
}
.cta h3 {
  max-width: 50%;
  line-height: 1.25;
  color: #fff;
}
.cta .btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cta .btn-dark.inverter:hover {
  background-color: var(--light);
  border-color: var(--primary);
  color: var(--dark);
}
.dark-theme .cta .btn-dark.inverter:hover {
  background-color: var(--dark);
  border-color: var(--primary);
  color: var(--light);
}
.cta .btn-light.inverter:hover {
  background-color: #13182c;
  border-color: #13182c;
  color: #fff;
}
.cta a {
  height: max-content;
  padding: 15px 35px;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .cta {
    flex-direction: column;
    justify-content: center;
    align-items: unset;
    padding: 60px;
  }
  .cta h3 {
    max-width: 100%;
    margin-bottom: 1em;
  }
  .cta.second {
    align-items: center;
  }
}

.vendor-carousel img {
  filter: grayscale(100%);
  transition: all .25s ease-in-out;
  cursor: grab;
}
.vendor-carousel img:hover {
  filter: grayscale(0);
}

.dark-theme .vendor-carousel img {
  filter: grayscale(0);
  transition: all .25s ease-in-out;
  cursor: grab;
}
.dark-theme .vendor-carousel img:hover {
  filter: grayscale(100%);
}

.form-select {
  cursor: pointer;
}
.form-control.bg-light {
  border: 1px solid #ffd99f !important;
}
/* .form-select,
.form-control {
  border: 1px solid var(--light) !important;
} */
.dark-theme .form-select,
.dark-theme .form-control:not(.dark-theme .footer .form-control) {
  color: #fff;
  background-color: var(--light) !important;
  border: 1px solid hsl(0, 0%, 33%) !important;
}
.dark-theme .form-control:focus,
.dark-theme .form-select:focus {
  box-shadow: 0 0 0 .25rem #c9811556
}
/*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: var(--primary);
  border-radius: 2px;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 5px;
  bottom: 0px;
  background: #ffffff;
  -webkit-animation: section-title-run 5s infinite linear;
  animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
  0% {
    left: 0;
  }
  50% {
    left: 145px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes section-title-run-center {
  0% {
    left: 50%;
    margin-left: -75px;
  }
  50% {
    left: 50%;
    margin-left: 45px;
  }
  100% {
    left: 50%;
    margin-left: -75px;
  }
}

@-webkit-keyframes section-title-run-sm {
  0% {
    left: 0;
  }
  50% {
    left: 85px;
  }
  100% {
    left: 0;
  }
}

/*** Service ***/
.service-item {
  position: relative;
  height: 300px;
  padding: 0 30px;
  transition: 0.5s;
}

.service-item .service-icon {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 2px;
  transform: rotate(-45deg);
}

.service-item .service-icon i {
  transform: rotate(45deg);
}

.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -48px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}

.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
}

/*** Testimonial ***/
/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px var(--light);
}
.dark-theme .testimonial-carousel .owl-item.center .testimonial-item div:last-of-type,
.dark-theme .testimonial-carousel .owl-item.center .testimonial-item small {
  color: var(--light);
}
.dark-theme .testimonial-carousel .owl-item .testimonial-item div:last-of-type {
  color: var(--dark);
}

.catLinks a {
  color: var(--dark);
  transition: all .25s ease-in-out;
}
.catLinks a:hover {
  color: var(--primary);
  padding-left: 25px !important;
}

/* .blogBox .row {
  position: relative;
  height: 650px;
}
.blogBox .row .col-lg-8 {
  height: max-content;
  overflow-y: auto;
}
.blogBox .row .col-lg-8::-webkit-scrollbar {
  width: 8px;
}
.blogBox .row .col-lg-8::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 3px;
}
.blogBox .row .col-lg-8::-webkit-scrollbar-track {
  background-color: var(--light);
  border-radius: 3px;
} */
.blogBox .sticky-top {
  top: 100px;
  z-index: 999;
}
@media (max-width: 767px) {
  .blogBox.media > .row {
    flex-direction: column-reverse;
  }
}

.dark-theme .page-item .page-link,
.dark-theme .page-item.disabled .page-link {
  background-color: var(--light);
  border-color: var(--lighter) !important;
}
.dark-theme .page-item .page-link:hover {
  background-color: var(--body-color);
}
.dark-theme .page-item.active .page-link {
  background-color: var(--primary);
}

/*** Team ***/
.team-item {
  transition: 0.5s;
}

.team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.team-social.two a:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  font-size: 18px;
  width: 100%;
  height: max-content;
  position: absolute;
  bottom: 0;
}
.dark-theme .team-social.two a:last-child {
  background-color: var(--light);
}

@media (max-width: 391px) {
  .team-social.two a:last-child {
    padding: 1px;
    font-size: 14px;
  }
}
@media (min-width: 767px) and (max-width: 1200px) {
  .team-social.two a:last-child {
    padding: 2px;
    font-size: 16px;
  }
}

.team-social a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.team-item:hover {
  box-shadow: 0 0 30px #dddddd;
}

.team-item:hover .team-social {
  background: rgba(9, 30, 62, 0.7);
}

.team-item:hover .team-social a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.15s;
}

.team-item .team-img img,
.blog-item .blog-img img {
  transition: 0.5s;
  width: 100% !important;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
  transform: scale(1.15);
}

/*** Miscellaneous ***/
/* @media (min-width: 991.98px) {
  .facts {
    position: relative;
    margin-top: -75px;
    z-index: 1;
  }
} */

/* .display-1 {
    font-size: 4rem !important;
} */

a {
  text-decoration: none !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 50px;
  color: #fff;
  border: 1px solid var(--primary) !important;
  border-radius: 50% !important;
  z-index: 9999;
}

.whatsapp {
  position: fixed;
  background-color: #4fce5d;
  border: 1px solid transparent !important;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  right: 45px;
  bottom: 50px;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
}
.whatsapp:hover {
  color: #fff;
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .back-to-top,
  .whatsapp {
    right: 25px !important;
  }
}

.bg-header {
  background: linear-gradient(rgba(9, 30, 62, 0.7), rgba(9, 30, 62, 0.7)),
    url(../img/company.jpg) center center no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-header .row {
  padding-top: unset !important;
}

.svg-inline--fa.fa-w-16 {
  width: unset;
}

.link-animated a {
  transition: 0.5s;
}

.link-animated a:hover {
  padding-left: 10px;
}

.bg-light {
  background-color: var(--light) !important;
}
/* .bg-light.shapes {
  background-image: url(../img/shape1.avif);
  background-blend-mode: overlay;
} */
@media (min-width: 767.98px) {
  .footer-about {
    margin-bottom: -75px;
  }
}

.footer-about p {
  color: var(--dark);
  font-weight: 500;
}

.author:hover {
  color: var(--primary) !important;
  font-weight: 500;
  border-bottom-color: var(--primary) !important;
  transition: all .25s ease-in-out;
}

/* Custom */

.btn-primary-inverse {
  color: #fff;
  background-color: #13182c;
  border-color: #13182c;
}
.btn-primary-inverse:hover {
  color: #fff;
  background-color: var(--primary);
  border-color: #ffc400;
}
.btn-check:focus + .btn-primary-inverse,
.btn-primary-inverse:focus {
  color: #fff;
  background-color: var(--primary);
  border-color: #13182c;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:active + .btn-primary-inverse,
.btn-check:checked + .btn-primary-inverse,
.btn-primary-inverse.active,
.btn-primary-inverse:active,
.show > .btn-primary-inverse.dropdown-toggle {
  color: #fff;
  background-color: #13182c;
  border-color: #0a53be;
}
.btn-check:active + .btn-primary-inverse:focus,
.btn-check:checked + .btn-primary-inverse:focus,
.btn-primary-inverse.active:focus,
.btn-primary-inverse:active:focus,
.show > .btn-primary-inverse.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-primary-inverse.disabled,
.btn-primary-inverse:disabled {
  color: #fff;
  background-color: #13182c;
  border-color: #13182c;
}

#wave {
  transform: translateY(5px);
}
.footer {
    /* border: 1px solid var(--light); */
    padding-bottom: 20px;
    background-color: #ffd080 !important;
}
.dark-theme .footer {
  background-color: var(--light) !important;
}
.dark-theme #wave path {
  fill: var(--light) !important;
}
.dark-theme .footer + .bg-light {
  background-color: var(--body-color) !important;
}
.footer a {
  color: var(--dark);
}
.footer a svg {
  color: #fff;
}
.sendInput {
  border: 1px solid #fde5c0 !important;
}

/* Modals */

.modal {
  z-index: 99999;
}
.modal-footer,
.modal-body,
.modal-header {
    border: none;
}

.modal-content {
    padding: 25px;
    border-radius: 15px;
}

.dark-theme .modal-content {
  background-color: var(--light);
}
.dark-theme .btn-close {
  color: #fff;
  filter: invert(1);
}

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.modal-title img {
    height: 66px;
}
.dark-theme .modal-title img {
  filter: invert(1);
}

.heading-text {
    text-align: center;
    padding: 10px;
}
.heading-text h4 {
    font-size: 17px;
    color: var(--primary);
}
.heading-text p {
    font-size: 15px;
}

.modal-body form select,
.modal-body form input {
    padding: 10px;
    border-radius: 8px;
}

.modal-body form select img {
    width: 30px;
    height: 20px;
}
@media (max-width: 767px) {
    .modal-body .verification {
        gap: 10px;
    }
    .modal-body .verification input {
        width: 45px;
    }
}
.modal-body .verification input {
    color: var(--dark);
    font-size: 18px;
}

.modal-footer button {
    border-radius: 10px;
}

.searchBtn {
    border-left: 1px solid var(--dark);
    font-weight: 900;
    color: var(--dark);
    font-size: 20px;
    border-radius: 0 !important;
    transition: all .25s linear;
}
.searchBtn:focus {
    outline: none;
    box-shadow: none;
}
.inline .lang:focus {
    outline: none;
    box-shadow: none;
}
.searchBtn:hover {
    color: var(--primary);
}

.searchModal {
    position: relative;
}
.searchModal i {
    position: absolute;
    top: 10px;
    right: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*===========================
       04.GALLERY css 
===========================*/
.single-gallery {
  position: relative;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.single-gallery:hover {
  box-shadow:0 1rem 3rem rgba(0,0,0,.175) !important;
  /* transform: translateY(-8px); */
}

.single-gallery .gallery-image img {
  width: 100%;
}

/* Standards */
.standards {
  background-color: #fff;
}
.dark-theme .standards {
  background-color: var(--body-color);
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: var(--primary);
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: var(--dark);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-title{
	font-size: 18px;
	color: var(--dark);
	margin:6px 0 15px;
  letter-spacing: 1px;
  font-weight: 700;
}
.timeline-title:nth-child(odd) {
  text-align: left !important;
}
.timeline-content{
  background-color: var(--light);
	padding: 30px;
	border-radius: 5px;
  text-align: left;
}
.timeline-content h3{
  font-size: 20px;
	color: var(--primary);
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 600;
}
.timeline-content p{
    color: var(--dark);
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 30px;
	}
	.timeline-dot{
		left:0;
	}
}

/* End Standards */
